absl-py==0.6.1
astor==0.7.1
beautifulsoup4==4.6.3
boto==2.49.0
boto3==1.9.58
botocore==1.12.58
bs4==0.0.1
bz2file==0.98
certifi==2018.11.29
chardet==3.0.4
docutils==0.14
gast==0.2.0
gensim==3.6.0
grpcio==1.16.1
h5py==2.8.0
idna==2.7
jmespath==0.9.3
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Markdown==3.0.1
nltk==3.4
numpy==1.15.4
protobuf==3.6.1
python-dateutil==2.7.5
PyYAML==3.13
requests==2.20.1
s3transfer==0.1.13
scikit-learn==0.20.1
scipy==1.1.0
singledispatch==3.4.0.3
six==1.11.0
smart-open==1.7.1
tensorboard==1.12.0
tensorflow==1.12.0
termcolor==1.1.0
urllib3==1.24.1
Werkzeug==0.14.1
